<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">
<!--开启注解扫描-->
    <mvc:annotation-driven></mvc:annotation-driven>
<!--    扫描controller和spirng进行分工扫描-->
    <context:component-scan base-package="com.duing.controller"></context:component-scan>
    <!--    配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
<!--       相当于我们系统内部重定向或者转发时会进行路径的拼接-->
<!--        如return jsp/test-->
<!--        就会拼接成/WEB-INF/jsp/test.jsp-->
        <property name="prefix" value="/WEB-INF/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
<!--    配置静态资源解析器-->
<!--    当我们前端页面访问静态资源时如果url中含有/img/ 系统就会去img下找资源-->
    <mvc:resources mapping="/img/**" location="/img/"></mvc:resources>
    <mvc:resources mapping="/css/**" location="/css/"></mvc:resources>
    <mvc:resources mapping="/js/**" location="/js/"></mvc:resources>
    <mvc:resources mapping="/index.html" location="/"></mvc:resources>

    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean  class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8"></constructor-arg>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
</beans>